.main {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
  }
  
  .navbar {
    display: flex;
    flex-direction: column;
  }
  
  .messagebox {
    display: flex;
  }