.login-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 16px;
    z-index: 1000;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Add space between the textarea and button */
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #eeeeee;
    border-radius: 8px;
}