.message-area {
    display: flex;
    width: 100%;
    flex-direction: column;
    border: 2px solid rgba(150, 145, 154, 0.5);
    border-radius: 5px;
}

.message {
    margin: 5px;
    border: 2px solid rgba(150, 145, 154, 0.5);
    border-radius: 5px;
}